/* Article.css */

h1 {
    color: white;
    margin-left: 10%;
}

.single-article-header {
    color: white;
    margin-left: 10%;
}

.single-article-paragraph {
    color: white;
    margin-left: 10%;
}

.single-article-image {
    margin-left: 10%;
}